*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(175, 175, 90);
    /* unselectable texts */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.233);
    margin: 5px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    display: flex;
}